.shelf-title {
  font-size: 25px;
  font-family: "sans-serif";
  font-weight: 600;
  font-style: oblique;
  color: brown;
  text-align: center;
  margin: 20px;
}

.shelf-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.empty-shelf-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.empty-shelf-title {
  font-size: 28px;
  font-family: "Roboto";
  font-weight: 600;
}

.empty-shelf-btn {
  height: 30px;
  width: 100px;
  background-color: #bb0a6b;
  color: rgb(4, 4, 252);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
